<h1>Editing invoice</h1>

<%= render 'form' %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %> | <%= link_to 'Delete', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class => "text-error" %>
