<h1 class="center">Your clients</h1>


<% @clients.each do |client| %>
    <h4><%= link_to client.name, [current_user, client] %> <%= !(client.company_name == '') ? ('at '+client.company_name) : ('') %></h4>
<% end %>

<br />

Getting more work? <%= link_to 'Create a new client', new_user_client_path %>.
