<div class="row-fluid center animated fadeInDown delay1 space-bottom">
  <div class="span8 offset2">
    <h2><a href="<%= clients_path %>"><img src='/assets/client.png' style='margin-top:-10px;width:100px;height:100px;'/></a></h2>
    <h1>Make a new client</h1>
  </div>
</div>

<%= render 'form' %>
