<% if !current_user %>
	<%= render "welcome" %>
<% else %>
	<div class="row-fluid animated fadeInDown delay3">
		<div class="span12">
			<h1 class="center">Thanks for joining us, <%= current_user.name ? (link_to current_user.name, edit_user_path(current_user)) : (link_to current_user.email, edit_user_path(current_user)) %>.</h1>
		</div>
	</div>
	<div class="row-fluid ">
		<div class="span8 offset2 center">
			<p class="lead center animated fadeInDown" style="padding-top:80px;margin-top:20px;"><small>Samurai says:</small> Patience is bitter, but its fruit is sweet.</p>
			<img style="margin-top:-12px;width:250px;height:250px;" src='/assets/mount.png' class="animated fadeInUp"/>
		</div>
	</div>
<% end %>