<div class="row-fluid animated fadeInUp delay1">
	<div class="span12">
		<p class="center"><%= link_to "Roninvoice", root_path, :class => "brand" %> | Assess with intelligence. Get paid in style.</p>
	</div>
</div>