<div class="row-fluid animated fadeInUp delay1">
	<div class="span12">
		<p class="center">Assess with intelligence. Get paid in style.<br>
			<%= link_to "Follow @RÅninvoice", "http://twitter.com/roninvoice", :target => "_blank", :class => "brand" %></p>
	</div>
</div>