.brand{
	font-family: 'Asul', sans-serif;
	font-size: 1.02em;
}
.navbar-inner{
	border: none;
}
.btn-navbar{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn{
	text-shadow:none;
	color:#0F192E;
	&:hover {
    text-decoration: none;
    background-color: none;
    background-position: 0 0px;
  }
}
a:hover{
	text-decoration: none;
}
hr{
	border-bottom: none;
}