.brand{
	font-family: 'Asul', sans-serif;
	font-size: 1.02em;
	font-weight:400 !important;
}
.navbar{
	.brand{
		color: #DDEBEC;
	}
	.nav{
		li{
			a{
				color: #7D93B5;
			}
			a:hover{
				color: #7D93B5;
			}
		}
	}
}
.new-button{
	background:#131A39;
}
.navbar-inner{
	border: none;
	box-shadow:none;
	background:none;
}
.btn-navbar{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn{
	text-shadow:none;
	color:#0F192E;
	&:hover {
    text-decoration: none;
    background-color: none;
    background-position: 0 0px;
  }
}
.btn-primary, btn-success{
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
a:hover{
	text-decoration: none;
}
h2 small{
	color: #7D93B5;
}
hr{
	border-bottom: 1px solid #555;
	border-top: 1px solid #999;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.uneditable-input{
	color: #DDEBEC;
	background-color: #0F192E;
	border-top: 1px solid #0F192E;
	border-left: 1px solid #0F192E;
	border-right: 1px solid #0F192E;
	border-bottom: 1px solid #2a476c;
}
.input-append .add-on, .input-prepend .add-on {
	text-shadow: none;
	background-color: #0F192E !important;
	border: 1px solid #0F192E;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #fff;
    background-color: #0F192E !important;
}
::-webkit-input-placeholder {
   color: gray !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: gray !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: gray !important;  
}
:-ms-input-placeholder {  
   color: gray !important;  
}
.delay1{
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
}
.delay2{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
}
.delay3{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
}
.delay4{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
}
.delay5{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
}
.space-bottom{
	margin-bottom:20px;
}
.space-top{
	margin-top:20px;
}